<div class="auth-container">
  <% flash.each do |type, msg| %>
    <div class="alert alert-info">
      <%= msg %>
    </div>
  <% end %>
  <div class="auth-form">
    <h1>Sign Up</h1>
    <%= form_with model: @user, url: signup_path do |f| %>
      <%= f.label :name %><br>
      <%= f.text_field :name %><br>

      <%= f.label :email %><br>
      <%= f.email_field :email %><br>

      <%= f.label :password %><br> (6 characters minimum)<br>
      <%= f.password_field :password %><br>

      <%= f.label :password_confirmation %><br>
      <%= f.password_field :password_confirmation %><br>

      <%= f.submit "Sign Up", class: "btn-cta" %>
    <% end %>
  </div>
  <p>Already a member? <strong><%= link_to 'Login', login_path, class: "link-inverse" %></strong></p>
</div>