<h1>Welcome</h1>
<% if logged_in? %>
  <p>Logged in as <%= current_user.name %></p>
  <p><%= button_to 'Log Out', logout_path, method: :delete %></p>
<% end %>

<p>You are currently in:<p><br>
<%= @organisation.name %>
<%= link_to "Edit", edit_organisation_path(@organisation) %>
<%= link_to "View shifts", organisation_shifts_path(@organisation), class: "btn-primary" %>