<% if logged_in? %>
<h1>Hey There <%= current_user.name %>!
<strong><%= button_to 'Log Out', logout_path, method: :delete %></strong>
<% end %>

<h2>Join an organisation</h2>
<p>You aren’t a employee of any organisation. Join an existing one or create a new one to join.</p>

<h2>Organisations</h2>
<% @organisations.each do |org| %>
<li>
  <%= org.name %><br>
  <%= button_to "join", join_path, params: { organisation: {organisation_id: org.id} } %>
</li>
<% end %>

<h2>Create Organisation<h3>
<div class="auth-form">
  <%= form_with model: @organisation, url: create_path do |f| %>
    <%= f.label :name %><br>
    <%= f.text_field :name %><br>

    <%= f.label :hourly_pay_rate %><br>
    <%= f.text_field :hourly_pay_rate %><br>

    <%= f.submit "Sign Up", class: "btn-cta" %>
  <% end %>
</div>